<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>ex8a</servlet-name>
        <servlet-class>ex8a</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ex8a</servlet-name>
        <url-pattern>/ex8a</url-pattern>
    </servlet-mapping>
</web-app>
